{{define "Endpoint"}}

{{$service := .}}

{{ template "authorization" $service.endpoint }},
{{ template "authorization_v2" $service.endpoint }},
{{ template "user" $service.endpoint }},
{{ template "user_v2" $service.endpoint }},
{{ template "social" $service.endpoint }},
{{ template "financials" $service.endpoint }},
{{ template "news" $service.endpoint }},
{{ template "financial_service_webhook_endpoints" $service.endpoint }},
{{ template "financial_service_transaction_endpoints" $service.endpoint }},
{{ template "financial_service_recurring_transaction_endpoints" $service.endpoint }},
{{ template "financials_service_copilot_quota_endpoints" $service.endpoint }},
{{ template "financials_service_async_task_poll_endpoints" $service.endpoint }},
{{ template "accounting_service_endpoints" $service.endpoint }}
{{end}}