{{define "financials"}}
{{$host := .}}
{
    "endpoint":"/v1/gateway/financials/initiate-token-exchange",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        "documentation/openapi": {
            "description": "Initiates a token exchange",
             "summary": "Get my favourite foo",
            "tags": ["financials", "plaid"],
            "response_definition": {
                "200": {
                    "content_type": "application/json",
                    "description": "OK",
                    "example": {
                        "type": "object",
                        "properties": {
                            "access_token": {
                                "type": "string",
                                "description": "The access token"
                            },
                            "item_id": {
                                "type": "string",
                                "description": "The item id"
                            },
                            "request_id": {
                                "type": "string",
                                "description": "The request id"
                            }
                        }
                    }
                }
            }
        }
    },
    "backend":[
    {
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "url_pattern":"/api/v1/plaid/initiate-token-exchange",
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/financials/initiate-token-update",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        "documentation/openapi": {
            "description": "Initiates a link token update",
            "summary": "Get my favourite foo",
            "tags": ["financials", "plaid"],
            "response_definition": {
                "200": {
                    "content_type": "application/json",
                    "description": "OK",
                    "example": {
                        "type": "object",
                        "properties": {
                            "user_id": {
                                "type": "string",
                                "description": "The user id"
                            },
                            "link_id": {
                                "type": "string",
                                "description": "The link id"
                            }
                        }
                    }
                }
            }
        }
    },
    "backend":[
    {
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "url_pattern":"/api/v1/plaid/initiate-token-update",
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/financials/exchange-token",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/plaid/exchange-token",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/financials/{userID}/{virtualAccountID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/accounts/user/{userID}/account/{virtualAccountID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to obtain an investment account by id",
    "endpoint":"/v1/gateway/financials/user/{userID}/investment/{investmentAccountID}",
    "input_query_strings": [
      "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/account/{userID}/investment/{investmentAccountID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to obtain a liability account by id",
    "endpoint":"/v1/gateway/financials/user/{userID}/liability/{liabilityAccountID}",
    "input_query_strings": [
      "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/account/{userID}/liability/{liabilityAccountID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to obtain a mortgage account by id",
    "endpoint":"/v1/gateway/financials/user/{userID}/mortgage/{mortgageAccountID}",
    "input_query_strings": [
      "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/account/{userID}/mortgage/{mortgageAccountID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to obtain a student loan account by id",
    "endpoint":"/v1/gateway/financials/user/{userID}/student-loan/{studentLoanAccountID}",
    "input_query_strings": [
      "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/account/{userID}/student-loan/{studentLoanAccountID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to obtain a bank account by id",
    "endpoint":"/v1/gateway/financials/bank-account/{bankAccountID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/bank-account/{bankAccountID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a bank account by id",
    "endpoint":"/v1/gateway/financials/user/{userID}/bank-account/{bankAccountID}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/bank-account/{bankAccountID}?userId={userID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a bank account",
    "endpoint":"/v1/gateway/financials/bank-account",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/bank-account",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a manual bank account",
    "endpoint":"/v1/gateway/financials/user/{userID}/bank-account",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/bank-account/profile/{userID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a budget by id",
    "endpoint":"/v1/gateway/financials/budget/{budgetID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/budget/{budgetID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a budget by id",
    "endpoint":"/v1/gateway/financials/budget/{budgetID}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/budget/{budgetID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all budgets",
    "endpoint":"/v1/gateway/financials/pocket/{pocketID}/smart-goal/{smartGoalID}/milestone/{milestoneID}/budget",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/budget?pocketId={pocketID}&smartGoalId={smartGoalID}&milestoneId={milestoneID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a budget",
    "endpoint":"/v1/gateway/financials/budget",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/budget",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a budget",
    "endpoint":"/v1/gateway/financials/budget",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/budget",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a manual link",
    "endpoint":"/v1/gateway/financials/link",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/link",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a milestone by id",
    "endpoint":"/v1/gateway/financials/milestone/{milestoneID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/milestone/{milestoneID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a milestone by id",
    "endpoint":"/v1/gateway/financials/milestone/{milestoneID}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/milestone/{milestoneID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a milestone",
    "endpoint":"/v1/gateway/financials/milestone",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/milestone",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a milestone",
    "endpoint":"/v1/gateway/financials/milestone",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/milestone",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a milestone by goal id",
    "endpoint":"/v1/gateway/financials/milestone/smart-goal/{smartGoalID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/milestone/smart-goal/{smartGoalID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a user profile by id",
    "endpoint":"/v1/gateway/financials/profile/{userID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/profile/{userID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a user profile by id",
    "endpoint":"/v1/gateway/financials/profile/{userID}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/profile/{userID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a user profile",
    "endpoint":"/v1/gateway/financials/profile",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/profile",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a user profile",
    "endpoint":"/v1/gateway/financials/profile",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/profile",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a smart goal",
    "endpoint":"/v1/gateway/financials/smart-goal",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a smart goal",
    "endpoint":"/v1/gateway/financials/smart-goal",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all smart goals by pocket id",
    "endpoint":"/v1/gateway/financials/smart-goals/pocket/{pocketID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal/pocket/{pocketID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a smart goal by id",
    "endpoint":"/v1/gateway/financials/smart-goal/{smartGoalId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal/{smartGoalId}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a forecast by goal id",
    "endpoint":"/v1/gateway/financials/forecast/{smartGoalId}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/forecast/{smartGoalId}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a pocket by id",
    "endpoint":"/v1/gateway/financials/pocket/{pocketID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/pocket/{pocketID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a link by id",
    "endpoint":"/v1/gateway/financials/user/{userID}/link/{linkID}",
    "input_query_strings": [
      "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/link/{linkID}?userId={userID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all links for a given user",
    "endpoint":"/v1/gateway/financials/user/{userID}/links",
    "input_query_strings": [
      "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/links/{userID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a link by iD",
    "endpoint":"/v1/gateway/financials/user/{userID}/link/{linkID}",
    "input_query_strings": [
      "profileType"
    ],
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/link/{linkID}/user/{userID}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint returns the recurring transactions for a given user id",
    "endpoint":"/v1/gateway/service/financials/recurring-transactions/{user_id}",
    "input_query_strings": [
      "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/transactions/recurring-transactions/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint returns the transactions for a given user id",
    "endpoint":"/v1/gateway/service/financials/transactions/{user_id}/pageNumber/{page_number}/pageSize/{page_size}",
     "input_query_strings": [
        "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/transactions/{user_id}/pageNumber/{page_number}/pageSize/{page_size}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Creates a new subscription for a given customer against stripe",
    "endpoint":"/v1/gateway/service/financials/subscription",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/stripe/subscription",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries transaction aggregates from the backend",
    "endpoint":"/v1/gateway/service/financials/analytics/transaction-aggregates/{user_id}",
    "input_query_strings": [
        "month",
        "personalFinanceCategoryPrimary",
        "locationCity",
        "paymentChannel",
        "merchantName",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/transaction-aggregates/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries user account balance history for all connected accounts",
    "endpoint":"/v1/gateway/service/financials/analytics/balance-history/user/{user_id}/pagenumber/{page_number}/pagesize/{page_size}",
     "input_query_strings": [
        "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/balance-history/user/{user_id}/pagenumber/{page_number}/pagesize/{page_size}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries user account balance history for a single connected account",
    "endpoint":"/v1/gateway/service/financials/analytics/balance-history/account/{plaid_account_id}/pagenumber/{page_number}/pagesize/{page_size}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/balance-history/account/{plaid_account_id}/pagenumber/{page_number}/pagesize/{page_size}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users monthly expenditures in a categorized manner",
    "endpoint":"/v1/gateway/service/financials/analytics/category-monthly-expenditure/user/{user_id}",
    "input_query_strings": [
        "month",
        "personalFinanceCategoryPrimary",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/category-monthly-expenditure/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users monthly income in a categorized manner",
    "endpoint":"/v1/gateway/service/financials/analytics/category-monthly-income/user/{user_id}",
    "input_query_strings": [
        "month",
        "personalFinanceCategoryPrimary",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/category-monthly-income/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users monthly transaction count in a categorized manner",
    "endpoint":"/v1/gateway/service/financials/analytics/category-monthly-transaction-count/user/{user_id}",
    "input_query_strings": [
        "month",
        "personalFinanceCategoryPrimary",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/category-monthly-transaction-count/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users debt to income ratio in a categorized manner",
    "endpoint":"/v1/gateway/service/financials/analytics/debt-to-income-ratio/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/debt-to-income-ratio/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users expense metrics in a categorized manner",
    "endpoint":"/v1/gateway/service/financials/analytics/expenses/user/{user_id}",
    "input_query_strings": [
        "month",
        "personalFinanceCategoryPrimary",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/expenses/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users financial profile",
    "endpoint":"/v1/gateway/service/financials/analytics/finance-profile/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/finance-profile/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users income to expense ratio",
    "endpoint":"/v1/gateway/service/financials/analytics/income-expense-ratio/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/income-expense-ratio/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users income metrics",
    "endpoint":"/v1/gateway/service/financials/analytics/income/user/{user_id}",
    "input_query_strings": [
        "month",
        "personalFinanceCategoryPrimary",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/income/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users merchant-monthly-expenditure metrics",
    "endpoint":"/v1/gateway/service/financials/analytics/merchant-monthly-expenditure/user/{user_id}",
    "input_query_strings": [
        "month",
        "merchantName",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/merchant-monthly-expenditure/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users monthly-balance metrics",
    "endpoint":"/v1/gateway/service/financials/analytics/monthly-balance/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/monthly-balance/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users monthly-expenditure metrics",
    "endpoint":"/v1/gateway/service/financials/analytics/monthly-expenditure/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/monthly-expenditure/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users monthly-income metrics",
    "endpoint":"/v1/gateway/service/financials/analytics/monthly-income/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/monthly-income/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Queries a users monthly-savings metrics",
    "endpoint":"/v1/gateway/service/financials/analytics/monthly-savings/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/monthly-savings/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get monthly total quantity by security and user",
    "endpoint":"/v1/gateway/service/financials/analytics/monthly-total-quantity-by-security-and-user/user/{user_id}",
    "input_query_strings": [
        "month",
        "securityId",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/monthly-total-quantity-by-security-and-user/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get monthly transaction",
    "endpoint":"/v1/gateway/service/financials/analytics/monthly-transaction-count/user/{user_id}",
    "input_query_strings": [
        "month",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/monthly-transaction-count/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get monthly payment-channel-expenditure",
    "endpoint":"/v1/gateway/service/financials/analytics/payment-channel-expenditure/user/{user_id}",
    "input_query_strings": [
        "month",
        "paymentChannel",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/payment-channel-expenditure/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get total investment security",
    "endpoint":"/v1/gateway/service/financials/analytics/total-investment/user/{user_id}",
    "input_query_strings": [
        "securityId",
        "pageNumber",
        "pageSize",
        "profileType"
      ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/total-investment/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get financial context",
    "endpoint":"/v1/gateway/service/financials/analytics/melody-financial-context/user/{user_id}",
     "input_query_strings": [
        "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/melody-financial-context/user/{user_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get transactions for a given bank account id",
    "endpoint":"/v1/gateway/service/financials/analytics/transactions/user/{user_id}/plaidAccountId/{plaid_account_id}/pageNumber/{page_number}/pageSize/{page_size}",
     "input_query_strings": [
        "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/analytics/transactions/user/{user_id}/plaid-account-id/{plaid_account_id}/pageNumber/{page_number}/pageSize/{page_size}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get historical balance for a given account",
    "endpoint":"/v1/gateway/service/financials/analytics/historical-account-balance/user/{user_id}/plaidAccountId/{plaid_account_id}",
    "input_query_strings": [
        "profileType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/historical-account-balance/user/{user_id}/plaid-account-id/{plaid_account_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Add default pocket to a bank account",
    "endpoint":"/v1/gateway/service/financials/pocket/bank-account",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/pocket/bank-account",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Update A Pocket",
    "endpoint":"/v1/gateway/service/financials/pocket",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/pocket",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Delete A Pocket",
    "endpoint":"/v1/gateway/service/financials/pocket/{pocket_id}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/pocket/{pocket_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get Transactions Between Time Ranges",
    "endpoint":"/v1/gateway/service/financials/user/{user_id}/account/{plaid_account_id}/transactions/range",
    "method":"GET",
    "input_query_strings": [
        "startTime",
        "endTime",
        "page",
        "limit",
        "profileType"
    ],
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/users/{user_id}/accounts/{plaid_account_id}/transactions/range",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get Transactions For The Past Week",
    "endpoint":"/v1/gateway/service/financials/user/{user_id}/account/{plaid_account_id}/transactions/week",
    "method":"GET",
    "input_query_strings": [
        "page",
        "limit",
        "profileType"
    ],
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/users/{user_id}/accounts/{plaid_account_id}/transactions/week",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get Transactions For The Past Month",
    "endpoint":"/v1/gateway/service/financials/user/{user_id}/account/{plaid_account_id}/transactions/month",
    "method":"GET",
    "input_query_strings": [
        "page",
        "limit",
        "profileType"
    ],
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/users/{user_id}/accounts/{plaid_account_id}/transactions/month",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Add Note to Smart Goal",
    "endpoint":"/v1/gateway/service/financials/smart-goal/note",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal/note",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Update Smart Note Tied To Smart Goal",
    "endpoint":"/v1/gateway/service/financials/smart-goal/note",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal/note",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Delete Smart Note Tied To Smart Goal",
    "endpoint":"/v1/gateway/service/financials/smart-goal/note/{note_id}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal/note/{note_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Gets Notes From Smart Goal",
    "endpoint":"/v1/gateway/service/financials/smart-goal/{smart_goal_id}/note",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal/{smart_goal_id}/note",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"Get Notes From Smart Goal",
    "endpoint":"/v1/gateway/service/financials/smart-goal/note/{note_id}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/smart-goal/note/{note_id}",
        "host":[
            {{ include "financial_integration_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
}
{{end}}