{{define "social"}}
{{$host := .}}
{
    "@comment":"This endpoint enables the client to update a user profile (social)",
    "endpoint":"/v1/gateway/service/social/user/{userId}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/{userId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to accept a follow request (social)",
    "endpoint":"/v1/gateway/service/social/accept-follow-request/{followRecordId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/follow/accept/{followRecordId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to block another user (social)",
    "endpoint":"/v1/gateway/service/social/block-user/{sourceUserId}/target-user-id/{targetUserId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{sourceUserId}/block/target-user-id/{targetUserId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to block another user (social)",
    "endpoint":"/v1/gateway/service/social/unblock-user/{sourceUserId}/target-user-id/{targetUserId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{sourceUserId}/unblock/target-user-id/{targetUserId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to follow another user (social)",
    "endpoint":"/v1/gateway/service/social/follow-user/{sourceUserId}/target-user-id/{targetUserId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{sourceUserId}/follow/target-user-id/{targetUserId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a user profile (social)",
    "endpoint":"/v1/gateway/service/social/user/{userId}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "requestorProfileId",
        "requestorProfileType"
    ],
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a user profile (social) by provided userId",
    "endpoint":"/v1/gateway/service/social/user/{userId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a user profile (social) by provided userId",
    "endpoint":"/v1/gateway/service/social/user/{userId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a set of user profiles (social) in a paginated manner",
    "endpoint":"/v1/gateway/service/social/users/page-size/{pageSize}/page-number/{pageNumber}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/users/page-size/{pageSize}/page-number/{pageNumber}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a set of commuity profiles (social) in a paginated manner",
    "endpoint":"/v1/gateway/service/social/communities/page-size/{pageSize}/page-number/{pageNumber}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/communities/page-size/{pageSize}/page-number/{pageNumber}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a community profile (social)",
    "endpoint":"/v1/gateway/service/social/community/{communityId}/requestor/{requestorProfileId}/type/{requestorProfileType}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/community/{communityId}/requestor/{requestorProfileId}/type/{requestorProfileType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to follow another community (social)",
    "endpoint":"/v1/gateway/service/social/community/follow/{sourceUserId}/target-profile-id/{targetCommunityProfileId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{sourceUserId}/follow/community/{targetCommunityProfileId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a community profile (social)",
    "endpoint":"/v1/gateway/service/social/community/user/{userId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/community",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a community profile (social)",
    "endpoint":"/v1/gateway/service/social/user/{userId}/community/{communityProfileId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/community/{communityProfileId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a community profile (social)",
    "endpoint":"/v1/gateway/service/social/user/{userId}/community/{communityProfileId}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/community/{communityProfileId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all the community profiles (social) that a user follows",
    "endpoint":"/v1/gateway/service/social/user/{userId}/communities-followed/limit/{limit}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/follow/communities?limit={limit}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all blogs posts for a community profile",
    "endpoint":"/v1/gateway/service/social/community/{communityId}/posts/blog",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/community/{communityId}/posts/blog",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all posts associated to a community's topic",
    "endpoint":"/v1/gateway/service/social/community/{communityId}/topic/{topicName}/posts",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/community/{communityId}/topic/{topicName}/posts",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all posts associated to a tag",
    "endpoint":"/v1/gateway/service/social/posts/blog/tag/{tagName}/postType/{postType}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/posts/blog/tag/{tagName}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to edit a post by id",
    "endpoint":"/v1/gateway/service/social/user/post/{postId}/postType/{postType}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/post/{postId}/type/{postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/community/{communityId}/accountType/{accountType}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post?communityProfileId={communityId}&accountType={accountType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to add a quality score to a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/quality/postType/{postType}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/quality?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/type/{postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/type/{postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to report a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}/report",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/type/{postType}/report",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client get a community feed",
    "endpoint":"/v1/gateway/service/social/community/{communityId}/timeline/feedType/{feedType}/accountType/{accountType}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "nextPageToken"
    ],
    "backend":[
    {
        "url_pattern":"/api/v1/social/community/{communityId}/timeline?feedType={feedType}&accountType={accountType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client share a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}/share",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/type/{postType}/share",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client get a user feed",
    "endpoint":"/v1/gateway/service/social/user/{userId}/timeline/feedType/{feedType}/accountType/{accountType}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "nextPageToken"
    ],
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/timeline?feedType={feedType}&accountType={accountType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a comment",
    "endpoint":"/v1/gateway/service/social/post/{postId}/comment/{commentId}/postType/{postType}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/post/{postId}/comment/{commentId}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to add a comment quality score",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/postType/{postType}/quality",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/quality?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to report a comment",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/report",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/report",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a comment",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/community/{communityId}/accountType/{accountType}/postType/{postType}/comment",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/{userId}/post/{postId}/comment?communityProfileId={communityId}&accountType={accountType}&postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a publication",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete an editor from a publication",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}/editor/{editorUserId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}/editor/{editorUserId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to add an editor to a publication",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}/editor/{editorUserId}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}/editor/{editorUserId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to add a post a publication",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a post a publication",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}/post/{postId}/postType/{postType}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}/post/{postId}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a publication",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a publication",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a topic",
    "endpoint":"/v1/gateway/service/social/user/{userId}/community/{communityId}/topic",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/community/{communityId}/topic",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all the topics of a community a user follows",
    "endpoint":"/v1/gateway/service/social/user/{userId}/topics/limit/{limit}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/topics?limit={limit}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to discover a set of profiles",
    "endpoint":"/v1/gateway/service/social/user/{userId}/discover/limit/{limit}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/discover/limit/{limit}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all pending follow requests",
    "endpoint":"/v1/gateway/service/social/user/{userId}/follow/pending-requests",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/follow/pending-requests",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get communities and users you follow",
    "endpoint":"/v1/gateway/service/social/user/{userId}/profile/{profileId}/accountType/{accountType}/limit/{limit}/following",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/profile/{profileId}/account-type/{accountType}/following?limit={limit}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get communities and users you follow",
    "endpoint":"/v1/gateway/service/social/user/{userId}/profile/{profileId}/limit/{limit}/followers",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/profile/{profileId}/followers?limit={limit}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a poll",
    "endpoint":"/v1/gateway/service/social/user/{userId}/poll",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/poll",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to add a user response to a poll",
    "endpoint":"/v1/gateway/service/social/user/{userId}/poll/{pollId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/poll/{pollId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a poll",
    "endpoint":"/v1/gateway/service/social/user/{userId}/poll/{pollId}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/poll/{pollId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to Delete a poll",
    "endpoint":"/v1/gateway/service/social/user/{userId}/poll/{pollId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/poll/{pollId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to Get all of a user's poll",
    "endpoint":"/v1/gateway/service/social/user/{userId}/polls",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/polls",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to add a post to a thread",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}/thread",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/type/{postType}/thread",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a post from a thread",
    "endpoint":"/v1/gateway/service/social/user/{userId}/parent-post/{parentPostId}/postType/{postType}/thread/target/{participantPostId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{parentPostId}/type/{postType}/thread/target/{participantPostId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a post's thread",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}/thread",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/thread?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to react to a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/accountType/{accountType}/reaction/{reaction}/postType/{postType}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/account-type/{accountType}/reaction/{reaction}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to react to a comment",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/accountType/{accountType}/reaction/{reaction}/postType/{postType}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/account-type/{accountType}/reaction/{reaction}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to react to a comment reply",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}/accountType/{accountType}/reaction/{reaction}/postType/{postType}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}/account-type/{accountType}/reaction/{reaction}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a post by id from a bookmark",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}/bookmark",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/bookmark?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to bookmark a post",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/bookmark",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/bookmark",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a publication from a bookmark",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}/bookmark",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}/bookmark",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to add a publication to a bookmark",
    "endpoint":"/v1/gateway/service/social/user/{userId}/publication/{publicationId}/bookmark",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/publication/{publicationId}/bookmark",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a note",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/note",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/note",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a note",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}/note/{noteId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/note/{noteId}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a note",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/postType/{postType}/note/{noteId}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/note/{noteId}?postType={postType}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to reply to a comment",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/reply",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/reply",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a comment reply",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to edit a comment reply",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a comment's replies",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/replies",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/replies",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to report a comment reply",
    "endpoint":"/v1/gateway/service/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}/report",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/{userId}/post/{postId}/comment/{commentId}/reply/{replyId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to query bookmarked posts",
    "endpoint":"/v1/gateway/service/social/user/{userId}/bookmarks",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/bookmarks/{userId}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to query long form posts",
    "endpoint":"/v1/gateway/service/social/user/longform-content/type/{post_type}/page-size/{page_size}/page-number/{page_number}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/social/user/longform-content/type/{post_type}/page-size/{page_size}/page-number/{page_number}",
        "host":[
            {{ include "social_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
}
{{end}}