{{define "user"}}

{{$host := .}}
{
    "@comment":"This endpoint enables the client to delete a user account",
    "endpoint":"/v1/gateway/user/{id}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/{id}",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a user account by id",
    "endpoint":"/v1/gateway/user/{id}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/{id}",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a user account",
    "endpoint":"/v1/gateway/user",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a user account id based on email and username",
    "endpoint":"/v1/gateway/user",
    "input_query_strings": [
        "email",
        "username"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a user account based on email or username",
    "endpoint":"/v1/gateway/user/account",
    "input_query_strings": [
        "email",
        "username"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/account",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/user/profile/{userID}",
    "@comment": "purpose: obtains the profile and account of a given user based on provided userID",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "sequential_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
        {
            "@comment": "we query for the userID based on the provided user userID",
            "url_pattern":"/api/v1/user/{userID}",
            "host":[
                {{ include "user_service_host.tmpl" }}
            ],
            "method":"GET",
            "extra_config":{
                {{ include "modifier_backend.tmpl" }},
                {{ include "circuit_breaker_backend.tmpl" }},
                {{ include "error_detail_backend.tmpl" }}
            }
        },
        {
            "@comment": "we call the social service to obtain the social profile of the user",
            "url_pattern":"/v1/social/user?userID={resp0_account.id}",
            "host":[
                {{ include "social_service_host.tmpl" }}
            ],
            "method":"GET",
            "extra_config":{
                {{ include "modifier_backend.tmpl" }},
                {{ include "circuit_breaker_backend.tmpl" }},
                {{ include "error_detail_backend.tmpl" }}
            },
             "mapping": {
                "Id": "userProfileID"
            },
            "deny": [
                "NewsFeedTimelineID",
                "NotificationTimelineID",
                "PersonalFeedTimelineID"
            ]
        }
    ]
},
{
    "@comment":"This endpoint enables the client to verify an email address",
    "endpoint":"/v1/gateway/user/verification/{userID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/verification/{userID}",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client get an account by email",
    "endpoint":"/v1/gateway/user/email/{email}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/email/{email}",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
}
,
{
    "@comment":"This endpoint enables the client check if an email exists",
    "endpoint":"/v1/gateway/user/email/{email}/exists",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/email/{email}/exists",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client get an account by username",
    "endpoint":"/v1/gateway/user/username/{username}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/username/{username}",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
}
,
{
    "@comment":"This endpoint enables the client check if an username exists",
    "endpoint":"/v1/gateway/user/username/{username}/exists",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/username/{username}/exists",
        "host":[
            {{ include "user_service_host.tmpl" }}
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
}
{{end}}