"auth/validator": {
    "disable_jwk_security": true,
    "operation_debug": true,
    "cache": true,
    "cache_duration": 3600,
    "alg": "RS256",
    "audience": ["https://solomon-ai.us.auth0.com/api/v2/"],
    "jwk_url": "https://solomon-ai.us.auth0.com/.well-known/jwks.json"
}
